* {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color:hsl(212, 45%, 89%);
}

div {
    margin: auto;
    width: 240px;
    height: 410px;
    padding: 17px;
    border-radius: 15px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

div img {
    margin: -5px;
    width: 250px;
    border-radius: 10px;

}

div h3 {
    color: hsl(218, 44%, 22%);
}
div p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-top: -5px;
}